{% extends 'ontology_base.html.twig' %}

{% block title %}{{ book.title }}{% endblock %}

{% block main %}
    <div class="row justify-content-center">
        <div class="col-12 col-xl-10">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title"><i class="fa fa-book-open"></i> Detalls del Llibre</h3>
                    <div class="card-tools">
                        <a href="{{ path('admin_ontology_books_index') }}" class="btn btn-sm btn-secondary">
                            <i class="fa fa-arrow-left"></i> Tornar
                        </a>
                        <a href="{{ path('admin') }}" class="btn btn-sm btn-outline-secondary ml-1">
                            <i class="fa fa-home"></i>
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <h3 class="mb-4">{{ book.title }}</h3>

                    <div class="row">
                        <div class="col-md-6">
                            <dl class="row">
                                <dt class="col-sm-4">ID:</dt>
                                <dd class="col-sm-8"><code>{{ book.id }}</code></dd>

                                <dt class="col-sm-4">Títol:</dt>
                                <dd class="col-sm-8">{{ book.title }}</dd>

                                <dt class="col-sm-4">Autor:</dt>
                                <dd class="col-sm-8">
                                    {% if book.authorName %}
                                        <i class="fa fa-user"></i> {{ book.authorName }}
                                    {% else %}
                                        <span class="text-muted">No disponible</span>
                                    {% endif %}
                                </dd>
                            </dl>
                        </div>
                        <div class="col-md-6">
                            <dl class="row">
                                <dt class="col-sm-4">Gènere:</dt>
                                <dd class="col-sm-8">
                                    {% if book.genre %}
                                        <span class="badge badge-secondary">{{ book.genre }}</span>
                                    {% else %}
                                        <span class="text-muted">No disponible</span>
                                    {% endif %}
                                </dd>

                                <dt class="col-sm-4">Data de Publicació:</dt>
                                <dd class="col-sm-8">
                                    {% if book.datePublished %}
                                        <i class="fa fa-calendar"></i> {{ book.datePublished }}
                                    {% else %}
                                        <span class="text-muted">No disponible</span>
                                    {% endif %}
                                </dd>

                                <dt class="col-sm-4">Valoració:</dt>
                                <dd class="col-sm-8">
                                    {% if book.rating %}
                                        <span class="badge badge-warning">
                                            {% for i in 1..book.rating %}
                                                <i class="fa fa-star"></i>
                                            {% endfor %}
                                            {{ book.rating }}/5
                                        </span>
                                    {% else %}
                                        <span class="text-muted">No disponible</span>
                                    {% endif %}
                                </dd>
                            </dl>
                        </div>
                    </div>

                    {% if book.description %}
                    <div class="row mt-4">
                        <div class="col-12">
                            <h5><i class="fa fa-align-left"></i> Descripció</h5>
                            <div class="card">
                                <div class="card-body">
                                    <p class="text-justify">{{ book.description }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
